{% extends "base.html" %}

{% block title %}Bootstrap Form {% endblock title %}

{% block content %}

<form method = 'POST' action = {{ url_for('form')}}>
    
  <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">First name</label>
      <input type="text" name='first_name' class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" value='submit' class="btn btn-primary">Submit</button>
  </form>
<br>
  {# showing the form data if available#}
  
{% if context %}
  <div class="alert alert-success" role="alert">
    <p>Thanks for providing us your details:</p>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ context['name'] }}</td>
      <td>{{ context['email'] }}</td>
    </tr>
    </tbody>
</table>
  </div>
{% endif %}

{% endblock content %}