{% extends "base.html" %}

{% block title %}Bootstrap Form {% endblock title %}

{% block content %}
<h3><a href="{{ url_for('index') }}">Index Page</a></h3>
<h3><a href="{{ url_for('other') }}">other Page</a></h3>
<form method = 'POST' action = {{ url_for('form')}}>
    
  <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">First name</label>
      <input type="text" name='first_name' class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" value='submit' class="btn btn-primary">Submit</button>
  </form>

  {# showing the form data if available#}
  
  {% if context %}
    <p>Thanks for providing us your details:</p>
    <p>Name: {{ context['name'] }}</p>
    <p>Email: {{ context['email'] }}</p>
  {% endif %}

{% endblock content %}