{% extends "base.html" %} {% block title %} Understanding Flask Templates &
Static Files {% endblock title %} {% block content %}

<h1>Here is the Index Page</h1>

<p>Here we will learn these topics:</p>
<ul>
  <li>How to make internal pages links</li>
  <li>how to render dictionary provided in the context</li>
  <li>how to iterate over dictionary in context with for loop.</li>
</ul>

<p>How to make internal pages links:</p>

<h3><a href="{{ url_for('other') }}">Other Page</a></h3>
<h3><a href="{{ url_for('form') }}">form Page</a></h3>

<p>how to render dictionary provided in the context</p>
{# it returns the dictionary provided in the context #}
<h3>Greetings - {{ content.greeting }}</h3>
<h3>Greetings - {{ content.name }}</h3>

<p>how to iterate over dictionary in context with for loop.</p>
{# list all dictionary items with for loop #}
<ul>
  {% for num in content.my_list %}
  <li>{{ num }}</li>
  {% endfor %}
</ul>

{% endblock content %}
