{% extends "base.html" %} {% block title %}Jinja Filters {% endblock title %} {%
block content %}

<h1>This is other's Page.</h1>
<h3>
  <a href="{{ url_for('index') }}">Go to Home Page.</a>
</h3>
<h3>
  <a href="{{ url_for('other') }}"
    >Jinja2 Template working with builtin and custom filters.</a
  >
</h3>
<h3><a href="{{ url_for('form') }}">Simple data capture with Forms.</a></h3>

<p>Normal Text : {{ content }}</p>
<p>Upper Text : {{ content|upper }}</p>
<p>Lower Text : {{ content|lower }}</p>
<p>Reverse Text with own custom filter : {{ content|reverse_string }}</p>
<p>
  Bold 5th Word in Paragraph with own custom filter : {{ content|bold_5th|safe
  }}
</p>

{% endblock content %}
